.ProductContainer {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin: 1rem 0;
  position: relative;
}

.ProductTitle {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .75rem;
}

.ProductTitle hr {
  border: 4px solid #CE786A;
  border-radius: 3px;
  width: 2rem;
  margin: 1rem auto 0 auto;

}

.ProductTitle h2 {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.5;
}

.ProductPrice {
  text-align: center;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.ProductPrice p {
  font-size: .75rem;
}

.ProductPrice span {
  font-size: 1.5rem;
  margin-left: .15rem;
}

@media only screen and (min-width: 600px) {
  .ProductContainer {
    width: 47%;
  }
}

@media only screen and (min-width: 1024px) {
  .ProductContainer {
    width: 23%;
  }
  .ProductPrice p {
    font-size: 1rem;
  }
  .ProductPrice span {
    font-size: 1.75rem;
  }
}