.BtnProduct {
  background-color: #292622;
  border: none;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 15px;
  margin: 15px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  transition: .2s ease-in-out;
}

.BtnProduct:hover {
  background-color: #CE786A;
}

.BtnVisibility {
  display: block;
}

.BtnProductDrawer {
  background-color: #FFFFFF;
  border: none;
  color: #292622;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 15px;
  margin: 15px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  transition: .2s ease-in-out;
}

.BtnProductDrawer:hover {
  background-color: #CE786A;
  color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
  .BtnVisibility {
    display: none;
  }
}